.guitar-pattern {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #2c3e50;
  border-radius: 8px;
  overflow-x: auto;
}

.guitar-string {
  display: flex;
  align-items: center;
}

.fret {
  border: 1px solid #fff;
  padding: 4px 40px;
}

.fret.is-root {
  border: 0;
  padding: 0;
  transform: translateX(50%);
}

.fret.is-root + .fret {
  padding-left: 60px;
}

.fret-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #ecf0f1;
  color: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.fret-button:hover {
  background-color: #3498db;
  color: white;
}

.fret-label {
  text-align: center;
  color: white;
  margin-bottom: 5px;
} 

.fret-header {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    padding-left: 0; 
}
.fret-number {
    width: 50px;
    text-align: center;
    color: #bdc3c7;
    font-size: 0.8rem;
}

@media (max-width: 600px) {
    .guitar-pattern {
        padding: 0;
    }

    .fret-button {
        width: 24px;
        height: 24px;
        font-size: 10px; /* Adjust font size to fit smaller button */
    }

    .fret {
        padding: 4px 26px; /* 2/3 of 40px */
    }

    .fret.is-root {
        padding: 0;
    }

    .fret.is-root + .fret {
        padding-left: 40px; /* 2/3 of 60px to maintain proportion */
    }
}
